<div ng-controller="CourtDecisionDetailController" main-app anchor-scroll offset-top="150">
    <div app-bar adjust-on="decisionDetail">
        <div class="clearfix">
            <div class="navbar-right">
                <span app-bar-toolbox></span>
            </div>
            <div class="navbar-brand">
                <a click module="court" application="decision-detail" resource="{{resource}}">
                    Judikát č. {{decisionDetail["title"]}}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <a click resource="{{decisionDetail.creator}}" type="lex:Court">{{ decisionDetail.creatorTitle }}</a>
                <p class="pull-right text-muted" ng-show="decisionDetail.decisionKind.length>0">{{decisionDetail.decisionKind}} <span ng-show="decisionDetail.decisionCategory.length>0">({{decisionDetail.decisionCategory}})</span></p>
            </div>
            <div class="col-sm-4">
                <p class="pull-right text-muted" ng-show="decisionDetail.issuedIso.length>0">{{decisionDetail.issuedIso | formatDate}}</p>
            </div>
        </div>
    </div>
    <div>
        <div ng-hide="isTextLoading() || isTextEmpty()">

            <div class="court-decision-text" compile="decisionText"></div>

        </div>
        <div ng-show="isTextLoading()" spinner-bar></div>
        <div ng-show="isTextEmpty()" class="alert alert-warning">Text není dostupný.</div>
    </div>
</div>