<h1>Home</h1>
<h2>Příklady zákonů</h2>
<ul>
    <li><a click module="lex" application="act-detail" resource="http://linked.opendata.cz/resource/legislation/cz/act/1993/1-1993">Ústava ČR</a></li>
    <li><a click module="lex" application="act-detail" resource="http://linked.opendata.cz/resource/legislation/cz/act/2012/89-2012">Občanský zákoník</a></li>
    <li><a click module="lex" application="act-detail" resource="http://linked.opendata.cz/resource/legislation/cz/act/2009/280-2009">Daňový řád</a></li>
    <li><a click module="lex" application="act-detail" resource="http://linked.opendata.cz/resource/legislation/cz/act/2008/253-2008">Zákon + ČOI</a></li>
</ul>

