<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="mainApp">
<head lang="cs">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%- title %></title>

    <base href="/"/>

    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet" type="text/css">

    <script src="lib/jquery/jquery-1.11.0.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script src="lib/underscore/underscore.js"></script>
    <script src="lib/typeahead/bootstrap3-typeahead.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.3.0/es5-shim.js"></script>
    <![endif]-->

    <script>
        var configuration = <%- configuration %>;
    </script>

    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/angular/angular-resource.js"></script>

    <script src="js/events.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>

<%- css %>

<%- js %>

</head>
<body>

<div ng-view class="root"></div>

</body>
</html>