<div ng-controller="CourtDecisionsController" main-app>
    <div app-bar adjust-on="datasource.revision">
        <div class="clearfix">
            <div class="navbar-brand">
                <a click module="court" application="decisions">Judikáty</a>
            </div>
            <div class="navbar-right">
                <a app-bar-up-button></a>
            </div>
        </div>
        <div class="filters-bar">
            <span class="btn btn-primary btn-sm" ng-repeat="filter in filters" ng-click="removeFilter(filter.filter)">
                {{filter.prefix}}{{filter.title}}
                <span class="glyphicon glyphicon-remove glyphicon-white cursor-pointer"></span>
            </span>
        </div>
    </div>



    <table class="table" ng-hide="isEmpty()">
        <tr>
            <th nowrap>Spisová značka</th>
            <th>Soud</th>
            <th>Předmět</th>
        </tr>
        <tr ng-repeat="decision in decisions">
            <td nowrap>
                <a click module="court" application="decision-detail" resource="{{decision['@id']}}">{{decision['title']}}</a><br/>
                <small class="text-muted">{{decision['issuedIso'] | formatDate}}</small>
            </td>
            <td nowrap>{{decision['creator'] | join }}</td>
            <td>{{decision['subjectTitles'] | join }}</td>
        </tr>
    </table>

    <div class="alert alert-warning" ng-show="datasource.isEmpty">
        Zadaným parametrům neodpovídají žádné judikáty.
    </div>

    <div spinner-bar ng-show="datasource.isLoading"></div>

    <div datapager source="datasource" target="decisions" items-per-page="20"></div>

</div>