<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Detailní vyhledávání</h3>
	</div>
	
	<div class="panel-body">
		<div class="search" ng-controller="TypeaheadCtrl">
			<!-- TODO osetrit chovani a pojmenovat prvky formulare -->
			<form ng-submit="search">
				<table>
					<tr><td class="col1"></td>
						<td><input type="text" ng-model="data"
							   typeahead="value as value.o.value for value in sourceArray($viewValue) | limitTo:8"
							   typeahead-min-length="3" typeahead-wait-ms="1000"
							   class="searchInput"/></td></tr>
					<tr><td>Oblast:</td>
						<td><input type="checkbox" checked="checked"/> Zákony | 
							<input type="checkbox" checked="checked"/> Judikáty | 
							<input type="checkbox" checked="checked"/> Pojmy
						</td></tr>
					<tr><td>...</td>
						<td>...</td></tr>
					<tr><td></td>
						<td><button>Vyhledat</button></td></tr>
				</table>
			</form>
			<hr/>
			<a href="{{data.s.value}}" target="_blank">{{data.o.value}}</a>
		</div><!--/.search-->
	</div><!--/.panel-body-->
</div><!--/.panel-->
