body {
    padding-top: 50px;
}

h1.navbar-brand {
    margin: 0;
}

.content-top, .content-bottom {
    padding: 15px 0;
}

.sidebar {
    position: relative;
}

.spinner-bar {
    position: relative;
    height: 50px;
}

.cursor-pointer {
    cursor: pointer;
}