body {
    padding-top: 50px;
}

h1.navbar-brand {
    margin: 0;
}

.sidebar {
    word-break: break-all;
    padding: 20px 0;
}

table tr td .pagination {
    margin-top: 0;
    margin-bottom: -20px;
}