<div ng-controller="CourtDecisionsFiltersController" sidebar-app heading="Vyhledávání" set-open="true">
    <form role="form" ng-submit="search()">
        <div class="form-group">
            <label for="filterCreator">Soud</label>
            <select class="form-control" id="filterCreator" ng-model="creator" ng-options="ct as ct for ct in filters['creatorTitles']" ng-disabled="isLoading">
                <option value="">Všechny soudy</option>
            </select>
        </div>
        <div class="form-group">
            <label for="filterSubject">Předmět</label>
            <input class="form-control" id="filterSubject" ng-model="subject" typeahead="s for s in filters['subjectLabels'] | filter:$viewValue | limitTo: 10" placeholder="př.: náhrada škody"/>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="filterMinDate">Datum od</label>
                    <div class="input-group">
                        <input class="form-control" id="filterMinDate" ng-model="minDateRaw" datepicker-popup="dd. MM. yyyy" is-open="popupMinDateIsOpen"
                                starting-day="1" current-text="Dnes" clear-text="Vymazat" close-text="Zavřít"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openMinDatePopupCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="filterMaxDate">do</label>
                    <div class="input-group">
                        <input class="form-control" id="filterMaxDate" ng-model="maxDateRaw" datepicker-popup="dd. MM. yyyy" is-open="popupMaxDateIsOpen"
                               starting-day="1" current-text="Dnes" clear-text="Vymazat" close-text="Zavřít"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openMaxDatePopupCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="advancedOptionsIsOpen">
            <div class="form-group">
                <label for="filterIdentifier">Spisová značka</label>
                <input class="form-control" id="filterIdentifier" ng-model="identifier" placeholder="př.: 21 Cdo 3640/2012, Tdo, 2014,"/>
            </div>
            <div class="form-group">
                <label for="filterQuery">Text</label>
                <input class="form-control" id="filterQuery" ng-model="query"/>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="filterDecisionKind">Typ</label>
                        <select class="form-control" id="filterDecisionKind" ng-model="kind" ng-options="t for t in filters['decKinds']" ng-disabled="isLoading">
                            <option value="">Všechny</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="filterDecisionCategory">Kategorie</label>
                        <select class="form-control" id="filterDecisionCategory" ng-model="category" ng-options="t for t in filters['categories']" ng-disabled="isLoading">
                            <option value="">Všechny</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Vyhledat</button>
            <a class="btn btn-link" ng-click="advancedOptionsIsOpen = !advancedOptionsIsOpen">
                <span ng-show="advancedOptionsIsOpen">Méně parametrů</span>
                <span ng-hide="advancedOptionsIsOpen">Více parametrů</span>
            </a>
        </div>
    </form>
</div>