* {
  padding: 0px;
  margin: 0px;
}
body
{
  background-color: #FFE4B5;
}
.application
{
  width: 100%;
}
.target {
  height: 40px;
  border: 1px solid black;
  margin: 10px;
  background-color: white;
}
.content {
  border: 1px solid black;
  margin: 10px;
  min-height: 400px;
  background-color: white;
}

.applications {
  height: 40px;
  border: 1px solid black;
  margin: 10px;
  background-color: white;
}