<div ng-controller="ActRelatedDecisionsController" main-app>
    <div app-bar>
        <div class="clearfix">
            <div class="navbar-brand">
                Judikáty
            </div>
            <div class="navbar-right">
                <a app-bar-up-button></a>
            </div>
        </div>
    </div>

    <table class="table">
        <tr>
            <th><a ng-click="sortBy('title')">Název</a></th>
            <th><a ng-click="sortBy('-issuedIso')">Datum</a></th>
            <th><a ng-click="sortBy('subject')">Předmět</a></th>
        </tr>
        <tr ng-repeat="decision in decisions | orderBy: predicate : reverse">
            <td nowrap><a click module="court" application="decision-detail" resource="{{ decision['@id'] }}">{{ decision['title'] }}</a></td>
            <td nowrap>{{ decision['issuedIso'] | formatDate }}</td>
            <td>{{ decision['subject'] | formatDash }}</td>
        </tr>
    </table>

    <div spinner-bar ng-show="isLoading"></div>

    <div datapager source="datasource" target="decisions" items-per-page="10"></div>

</div>