<div ng-controller="ActRelatedDecisionsController" sidebar-app heading="Judikáty" set-open="false">

    <table class="table table-condensed" ng-hide="isLoading || isEmpty()">
        <tr>
            <th><a ng-click="sortBy('title')">Název</a></th>
            <th><a ng-click="sortBy('-issuedIso')">Datum</a></th>
            <th><a ng-click="sortBy('subject')">Předmět</a></th>
        </tr>
        <tr ng-repeat="decision in decisions | orderBy: predicate : reverse  | limitTo : limit">
            <td nowrap><a click module="court" application="decision-detail" resource="{{ decision['@id'] }}">{{ decision['title'] }}</a></td>
            <td nowrap>{{ decision['issuedIso'] | formatDate }}</td>
            <td>{{ decision['subject'] | formatDash }}</td>
        </tr>
        <tr ng-show="isShowMore()">
            <td colspan="3" class="text-right">
                <a click module="court" application="act-related-decisions" resource="{{ resource }}">zobrazit vše ...</a>
            </td>
        </tr>

    </table>

    <div ng-show="isLoading">Načítám data ...</div>
    <div ng-show="isEmpty()">Žádná dostupná rozhodnutí.</div>

</div>