<div sidebar-app heading="Sidebar - příklad">
    <p>
        Proin nec mi lobortis, vulputate augue in, adipiscing arcu. Nunc mi erat, congue eu diam ac, varius egestas neque. Vivamus consectetur vehicula mi, ultrices elementum metus placerat a. Nulla sed purus turpis. Etiam id pellentesque metus. Cras molestie accumsan dolor sed gravida. Integer ultrices elementum molestie. Etiam id nisi id quam facilisis faucibus. Nulla malesuada, justo ac facilisis sagittis, arcu tortor volutpat tellus, non viverra ipsum dui eget dui. In justo magna, pretium rhoncus suscipit ut, adipiscing ac tellus. Integer volutpat orci rutrum sapien fermentum, sit amet accumsan ipsum malesuada. Mauris ut varius sapien, et congue massa.
    </p>
</div>