<div ng-controller="LexDetailConceptController">
    <div>
        <h3>Resource: </h3><span>{{resource}}</span>
        <h3>Versions:</h3>
        <ul ng-repeat="item in versions">
            <li style="margin:10px;"><a href sys-click="openVersion(item)" module="lex" application="act-detail" click>{{printVersion(item)}}</a> <span>Valid: {{printVersionValid(item)}}</span></li>
        </ul>
        <h3 id="selectedVersionTextDiv">Selected version:</h3>
        <div ng-show="selectedVersionLoading == false">
            <ul ng-repeat="paragraph in selectedVersionPrepared">
                <li style="margin:10px;">{{paragraph["id"]}}: {{paragraph["text"]}}
                    <ul ng-repeat="article in paragraph.articles">
                        <li style="margin:10px;">{{article["id"]}}: {{article["text"]}}
                            <ul ng-repeat="subArticle in paragraph.subArticles">
                                <li style="margin:10px;">{{subArticle["id"]}}: {{subArticle["text"]}}</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div ng-show="selectedVersionLoading == true">Loading...</div>
        <div ng-show="selectedVersion!=null && selectedVersion.results.bindings.length == 0 && selectedVersionLoading == false">Empty</div>
    </div>
</div>