.lex-act-detail section.uvod, .lex-act-detail section.zaver {
    text-align: center;
}
.lex-act-detail section.obsah {
    /*text-align: justify;*/
    margin: auto;
    max-width: 500px;
}
.lex-act-detail section p {
    font-family: Georgia;
    font-size: 120%;
}
.lex-act-detail section header {
    text-align: center;
}
.lex-act-detail section.cast h1, .lex-act-detail section.preambule h1 {
    font-size: 200%;
}
.lex-act-detail section.hlava h1 {
    font-size: 180%;
}
.lex-act-detail section.dil h1 {
    font-size: 160%;
}
.lex-act-detail section.oddil h1, .lex-act-detail section.pododdil h1 {
    font-size: 140%;
}
.lex-act-detail section.clanek h1, .lex-act-detail section.paragraf h1 {
    font-size: 130%;
    font-family: Georgia;
}