<div class="panel panel-default" ng-controller="COICheckController">
    <div class="panel-heading">
        <h4 class="panel-title">Kontroly ČOI</h4>
    </div>
    <div class="panel-body">
        <table class="table" ng-hide="isLoading() || isEmpty()">
            <tr>
                <th><a ng-click="sortBy('-date')">Datum</a></th>
                <th><a ng-click="sortBy('region')">Kraj</a></th>
                <th><a ng-click="sortBy('name')">Kontrola</a></th>
                <th><a ng-click="sortBy('sanction')">Postih</a></th>
            </tr>
            <tr ng-repeat="check in checks | orderBy: property : reverse">
                <td>{{ check['date'] | formatDate }}</td>
                <td title="{{ check['title'] }}">{{ check['region'] }}</td>
        		<td><a ng-href="{{ check['resource'] }}">{{ check['name'] }}</a></td>
        		<td>{{ check['sanction'] | formatZero }}</td>
            </tr>
        </table>
        <div ng-show="isLoading()">Načítám data...</div>
        <div ng-show="isEmpty()">Žádné dostupné kontroly.</div>
    </div>
</div>