<div ng-controller="JustinianHomeController" main-app>

    <div class="jumbotron justinian-home-panel">
        <h1 class="text-center">Zákony a judikáty</h1>
        <h2 class="text-center">v souvislostech</h2>
        <form role="form" class="form-inline text-center justinian-home-form" ng-controller="SearchFormController" ng-submit="search()">
            <div class="form-group">
                <input class="form-control input-lg" placeholder="občanský zákoník, 1/1993, 25 Cdo, zaměstnavatel"
                       ng-model="query"
                       typeahead="entity as entity.text for entity in getResults($viewValue)"
                       typeahead-on-select="selected($item)"
                        />
                <button type="submit" class="form-control btn input-lg btn-lg btn-default"><span class="glyphicon glyphicon-search"></span> Vyhledat</button>
            </div>
        </form>
    </div>

    <div class="row">

        <div class="col-md-6">
            <div class="page-header">
                <h1>Justinian</h1>
            </div>
            <p>
                <strong>Justinian</strong> je unikátní nástroj pro vyhledávání a prohlížení <strong>zákonů</strong>, <strong>judikátů</strong>
                a jiných právních dokumentů v souvislostech. <strong>Zdarma</strong>.
            </p>
            <ul class="justinian-content-list">
                <li>
                    <a click module="lex" application="acts">Zákony</a>
                    <p class="text-muted">Úplná znění zákonů včetně historických znění, denně automaticky aktualizovaná</p>
                </li>
                <li>
                    <a click module="court" application="decisions">Judikáty</a>
                    <p class="text-muted">Rozhodnutí Ústavního soudu, Nejvyššího soudu a dalších</p>
                </li>
                <li>
                    <a click module="concept" application="concepts">Právní pojmy</a>
                    <p class="text-muted">Definice právních pojmů extrahované z textů zákonů</p>
                </li>
                <li>
                    <a click module="coi" application="checkactions">Kontroly ČOI</a>
                    <p class="text-muted">Kontroly České obchodní inspekce</p>
                </li>
            </ul>
        </div>


        <div class="col-md-6">
            <div class="page-header">
                <h1>Vybrané zákony</h1>
            </div>
            <ul class="row justinian-link-list">
                <li ng-repeat="predpis in predpisy" class="col-xs-6 col-sm-6">
                    <a click type="lex:Act" resource="{{predpis.resource}}">
                        {{predpis.title}}
                    </a>
                </li>
            </ul>
        </div>


    </div>

</div>
