.filters-bar {
    margin: 20px 0;
}

.filters-bar .btn {
    margin-right: 10px;
    margin-bottom: 10px;
}

.court-decision-text section {
    text-align: left;
}
/*
.court-decision-text footer span{
    margin-left: 30px;
    color: #999;
}
*/

.court-decision-text footer{
    display: none;
}

.court-decision-text section > p {
    margin-left: 30px;
}

.court-decision-text section.clanek > p,
.court-decision-text section.clanek > section,
.court-decision-text section.paragraf > p,
.court-decision-text section.paragraf > section {
    margin-left: 30px;
}

.court-decision-text section.pismeno,
.court-decision-text section.bod {
    margin-left: 30px;
}

.court-decision-text section header h1:last-child {
    margin-top: 0;
}

.court-decision-text section p {
    font-size: 100%;
}
.court-decision-text section  p  span {
    font-size: 100%;
    font-weight: bold;
}