.filters-bar .btn {
    margin-right: 10px;
    margin-bottom: 10px;
}

.court-decision-text section {
    text-align: left;
}

.court-decision-text footer{
    display: none;
}

.court-decision-text section > p {
    margin-left: 30px;
}

.court-decision-text section header h1:last-child {
    margin-top: 0;
}
.court-decision-text section  p  span {
  text-decoration: underline;
}

.annotation-act {
    font-weight: bold;
}