<div ng-controller="LexActsController" main-app>
    <div app-bar adjust-on="datasource.revision">
        <div class="clearfix">
            <div class="navbar-right">
                <span app-bar-toolbox></span>
            </div>
            <div class="navbar-brand">
                <a click module="lex" application="acts">Zákony</a>
            </div>
        </div>
        <div class="filters-bar">
            <span class="btn btn-primary btn-sm" ng-repeat="filter in filters" ng-click="removeFilter(filter.filter)">
                {{filter.prefix}}{{filter.title}}
                <span class="glyphicon glyphicon-remove glyphicon-white cursor-pointer"></span>
            </span>
        </div>
    </div>

    <table class="table" ng-hide="isEmpty()">
        <tr>
            <th nowrap>Předpis</th>
            <th>Název</th>
        </tr>
        <tr ng-repeat="act in acts">
            <td nowrap>
                <a click module="lex" application="act-detail" resource="{{ act['@id'] }}">{{ act['identifier'] }}</a><br/>
                <small class="text-muted">{{ act['issuedIso'] | formatDate }}</small>
            </td>
            <td>
                {{ act["title"] }}
            </td>
        </tr>
    </table>

    <div class="alert alert-warning" ng-show="datasource.isEmpty">
        Zadaným parametrům neodpovídají žádné zákony.
    </div>

    <div spinner-bar ng-show="datasource.isLoading"></div>

    <div datapager source="datasource" target="acts" items-per-page="20"></div>

</div>