<div main-app>
    <h1>Úvodní strana - příklad</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur varius vitae neque lobortis ullamcorper. Suspendisse massa est, pellentesque id sodales nec, pharetra quis urna. Nam nec lectus convallis, vestibulum nisl et, pulvinar tellus. Nunc sed turpis purus. Nulla laoreet elit rutrum iaculis varius. In ornare odio diam, eget tincidunt lacus tincidunt id. Mauris consequat, sem vitae consequat pharetra, ligula eros lobortis enim, eu scelerisque est urna quis enim. Proin lacus sapien, porta a eros id, varius semper augue. Praesent blandit semper enim, cursus consectetur purus feugiat ac.
    </p>
    <p>
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam feugiat enim et imperdiet bibendum. Pellentesque tempus mollis neque in bibendum. Etiam nec feugiat mauris. Morbi elementum eros sapien, eget semper purus scelerisque et. Morbi bibendum ultrices ante eu elementum. Pellentesque ac lacus mauris. Aenean ultricies, enim vel suscipit egestas, orci sem aliquam elit, sit amet lacinia elit leo et diam. In non pharetra augue. Nam et nisi lacus. Etiam eu augue consectetur, suscipit turpis sit amet, venenatis nibh. Donec quis congue massa. In non porta lorem. Aenean tellus nisi, mollis non porttitor nec, tincidunt et dui.
    </p>
</div>