/* app css stylesheet */

body {
    padding-top: 50px;
    background: #CCC;
}

.main-container {
    background: #FFF;
}

.content-top, .content-bottom {
    padding: 15px 0;
}

.navbar-form .form-control {
    display: inline-block;
    width: auto; /*This is the issue*/
    vertical-align: middle;
}