<div id="lex-search-app" ng-controller="CoreSearchController" class="panel">
    <div class="panel-body">
        <h1>Výsledky vyhledávání pro "{{query}}"</h1>
        <div class="result-container">
            <div class="dl-horizontal" ng-scroll="item in datasource" buffer-size="20" padding="0.8">
                <dl class="dl-horizontal">
                    <dt>{{item.label}}</dt>
                    <dd><a click resource="{{item['@id']}}" type="{{item['@type']}}">{{item.text}}</a></dd>
                </dl>
            </div>
        </div>
    <div ng-show="loading" spinner-bar></div>
    </div>
</div>