.typeahead li a{
    white-space: normal;
}
.typeahead {
    width:200%;
}

.position-relative {
    position: relative;
}

.cursor-pointer {
    cursor: pointer;
}

.spinner-bar {
    position: relative;
    height: 50px;
    background: #FAFAFA;
    border-radius: 10px;
    margin: 30px 0;
}

.glyphicon-spinner {
    width: 16px;
    height: 16px;
    margin: 0 2px;
}
