.sidebar {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
}
@media (max-width: 991px) {
    .main {
        padding-left: 0;
        padding-right: 0;
    }
    .sidebar {
        padding-left: 5px;
        padding-right: 5px;
    }
}
.sidebar .table {
    margin-bottom: 0;
}

.position-relative {
    position: relative;
}

.cursor-pointer {
    cursor: pointer;
}

.word-break {
    word-break: break-all;
}

.spinner-bar {
    position: relative;
    height: 50px;
    background: #FAFAFA;
    border-radius: 10px;
    margin: 30px 0;
}

.glyphicon-spinner {
    width: 16px;
    height: 16px;
    margin: 0 2px;
}

.app-bar {
    margin-top: -15px;
    margin-bottom: 15px;
}

@media (min-width: 768px) {
    .app-bar .ui-scrollfix {
        position: fixed;
        z-index: 1000;
    }
}
@media (max-width: 767px) {
    .app-bar .ui-scrollfix .app-bar-toolbox {
        text-align: right;
        padding-right: 15px;
        width: 120px;
        position: fixed;
        right: 0;
        z-index: 1000;
        border-bottom-left-radius: 10px;
        border-color: #e7e7e7;
        border-style: solid;
        border-width: 0 0 1px 1px;
        background: rgb(248, 248, 248);
        background: rgba(248, 248, 248, 0.5);
    }
}

.app-bar .navbar {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;

    margin-left: -16px;
    margin-right: -16px;
}

@media (max-width: 767px) {
    .app-bar .navbar {
        border-left: none;
        border-right: none;
    }
}

.app-bar .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
}

.app-bar .navbar-nav {
    float: left;
    margin: 0;
}
.app-bar .navbar-nav > li {
    float: left;
}
.app-bar .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.app-bar .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
}
.app-bar .navbar-left {
    float: left !important;
}
.app-bar .navbar-right {
    float: right !important;
}

.app-bar .navbar-brand, .app-bar-up-button {
    color: #000;
}