.typeahead li a{
    white-space: normal;
}
.typeahead {
    width:200%;
}

.position-relative {
    position: relative;
}

.cursor-pointer {
    cursor: pointer;
}

.spinner-bar {
    position: relative;
    height: 50px;
    background: #FAFAFA;
    border-radius: 10px;
    margin: 30px 0;
}

.glyphicon-spinner {
    width: 16px;
    height: 16px;
    margin: 0 2px;
}

.app-bar {
    margin-top: -15px;
}

.app-bar .ui-scrollfix {
    position: fixed;
    z-index: 1000;
}

.app-bar .navbar {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
}

@media (max-width: 768px) {
    .app-bar .navbar {
        margin-left: -31px;
        margin-right: -31px;
        border-left: none;
        border-right: none;
    }
}

.app-bar .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
}

.app-bar .navbar-nav {
    float: left;
    margin: 0;
}
.app-bar .navbar-nav > li {
    float: left;
}
.app-bar .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.app-bar .navbar-nav.navbar-right:last-child {
    margin-right: -15px;
}
.app-bar .navbar-left {
    float: left !important;
}
.app-bar .navbar-right {
    float: right !important;
}

.app-bar-up-button {
    color: #000000;
}