<div ng-controller="CoiCheckactionDetailController" main-app>
    <div app-bar>
        <div class="clearfix">
            <div class="navbar-right">
                <span app-bar-toolbox></span>
            </div>
            <div class="navbar-brand">
                <a click module="coi" application="checkaction-detail" resource="{{resource}}">Kontrola ČOI č. {{ data["title"] }}</a>
            </div>
        </div>
    </div>

    <div>
        <ul>
            <li>
                Datum: {{ data["dateIso"] | formatDate }}
            </li>
            <li>
                Název: {{ data["objectName"] }}
            </li>
            <li>
                Ulice: {{ data["street"] }}
            </li>
            <li>
                Město: {{ data["locality"] }}
            </li>
            <li>
                PSČ: {{ data["zipcode"] }}
            </li>
            <li>
                Kraj: {{ data["region"] }}
            </li>
            <li>
                Zeměpisná šířka: {{ data["latitude"] }}
            </li>
            <li>
                Zeměpisná délka: {{ data["longitude"] }}
            </li>
            <li>
                Postihy:
                <ul>
                    <li ng-repeat="sanction in data.resultSanctions">
                        {{ sanction.uri }}
                    </li>
                </ul>
            </li>
            <li>
                Zákazy:
                <ul>
                    <li ng-repeat="ban in data.resultBans">
                        {{ ban.category }}
                    </li>
                </ul>
            </li>
            <li>
                Zabaveno:
                <ul>
                    <li ng-repeat="confiscation in data.resultConfiscations">
                        {{ confiscation.category }} - {{ confiscation.brand }}
                    </li>
                </ul>
            </li>
        </ul>

        <hr />

        {{ data }}

    </div>
</div>
