<div class="header">
    <div ng-include="main.menuTemplateUrl" class="menu"></div>
    <div ng-include="main.searchTemplateUrl" class="search"></div>
    <div ng-include="main.logoTemplateUrl" class="logo"></div>
</div>

<div class="body">
    <div class="sidebar">
        SIDEBAR
        <div ng-repeat="sidebarTemplateUrl in main.sidebarTemplateUrls">
            <div ng-include="sidebarTemplateUrl" class="application"></div>
        </div>
    </div>
    <div ng-include="main.mainTemplateUrl" class="main"></div>
</div>

<div class="footer">
    <div ng-include="main.infoTemplateUrl" class="info"></div>
</div>