<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">


        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-left logo" id="logo_view" ng-show="logoTemplates.length > 0">
                <div class="navbar-left application" ng-include="template.url" ng-repeat="template in logoTemplates"></div>
            </div>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse" collapse="navCollapsed">
            <div class="navbar-left header-left" ng-show="headerLeftTemplates.length > 0">
                <div class="navbar-left application" ng-repeat="template in headerLeftTemplates" ng-include="template.url"></div>
            </div>

            <div class="navbar-right header-right" ng-show="headerRightTemplates.length > 0">
                <div class="navbar-right application" ng-repeat="template in headerRightTemplates" ng-include="template.url"></div>
            </div>

        </div>

    </div>
</div>

<div class="content-container">
    <div class="container content-top">
        <div class="application" ng-repeat="template in contentTopTemplates" ng-include="template.url"></div>
    </div>

    <div class="container">
        <div class="row sheet">
            <div class="main" ng-class="{'col-md-8': sidebarTemplates.length > 0, 'col-md-12': sidebarTemplates.length <= 0}">
                <div ng-include="mainTemplateUrl" class="application"></div>
            </div>
            <div class="sidebar col-md-4" ng-show="sidebarTemplates.length > 0">
                <div class="application" ng-repeat="template in sidebarTemplates" ng-include="template.url"></div>
            </div>
        </div>
    </div>

    <div class="container content-bottom">
        <div class="application" ng-repeat="template in contentBottomTemplates" ng-include="template.url"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="application" ng-repeat="template in footerTopTemplates" ng-include="template.url"></div>
    </div>
    <hr>
    <div class="row">
        <div class="application" ng-repeat="template in footerBottomTemplates" ng-include="template.url"></div>
    </div>
</div>