<div ng-controller="CourtDetailController" main-app anchor-scroll offset-top="150">
    <div app-bar adjust-on="courtDetail">
        <div class="clearfix">
            <div class="navbar-right">
                <span app-bar-toolbox></span>
            </div>
            <div class="navbar-brand">
                <a click module="court" application="court-detail" resource="{{resource}}">
                    {{courtDetail["title"]}}
                </a>
            </div>
        </div>
    </div>
    <div>
        <ul ng-hide="isEmpty() || isLoading">
            <li><span>Tel.: </span><a href='tel:{{courtDetail["telephone"]}}'>{{courtDetail["telephone"]}}</a></li>
            <li><span>Fax.: </span><a href='fax:{{courtDetail["faxNumber"]}}'>{{courtDetail["faxNumber"]}}</a></li>
            <li><span>E-mail: </span><a href='mailto:{{courtDetail["email"]}}'>{{courtDetail["email"]}}</a></li>
            <li><span>WWW: </span><a href='mailto:{{courtDetail["url"]}}'>{{courtDetail["url"]}}</a></li>
            <li><span>Location: </span><span>{{courtDetail["streetAddress"]}}, {{courtDetail["postalCode"]}}, {{courtDetail["locality"]}}</span></li>
        </ul>
        <iframe id="google_maps_window" width="100%" height="450" frameborder="0" style="border:0" ng-show="isLocationAvailable()"></iframe>
        <div ng-show="isLoading" spinner-bar></div>
        <div ng-show="!isLoading && isEmpty()" class="alert alert-warning">Data nejsou dostupne.</div>
    </div>
</div>