<div ng-controller="LexActDetailController" main-app anchor-scroll offset-top="150">
    <div app-bar adjust-on="actDetail">
        <div class="clearfix">
        <div class="navbar-brand">
            <a click module="lex" application="act-detail" resource="{{resource}}">
                Předpis č. {{actDetail["identifier"]}}
            </a>
        </div>
        <div class="navbar-right">
            <a app-bar-up-button></a>
        </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <p>{{actDetail["title"]}}</p>
            </div>
            <div class="col-sm-4">
                <p class="pull-right text-muted">Znění platné od {{actVersion.validIso | formatDate}}</p>
            </div>
        </div>
    </div>

    <div ng-hide="isTextLoading() || isEmpty()">

            <div class="lex-act-text" compile="actText"></div>

        </div>
        <div ng-show="isTextLoading()" spinner-bar></div>

        <div ng-show="isTextEmpty()" class="alert alert-info">Text není dostupný.</div>
</div>