<div class="row justinian-footer">
    <div class="col-sm-4 col-sm-push-4 text-center"><a class="logo-container"><span>§</span></a></div>
    <div class="col-sm-4 col-sm-pull-4 text-left">
        <span class="copyright">&copy; 2014 Justinian</span>
    </div>
    <div class="col-sm-4 text-right">
        <a href="http://www.opendata.cz" target="_blank">OpenData.cz</a>
        <a click module="justinian" application="about">O projektu</a>
    </div>
</div>
<div class="row justinian-footer text-center" style="padding-bottom: 10px">
    Projekt "Publikace dat statistických ročenek ve standardu otevřených dat" (TD020121) je spolufinancován <a href="http://tacr.cz/">Technologickou agenturou České republiky</a>.
</div>
<div class="row justinian-footer text-center">
      <img style="border: 0px; margin-top: 0px; width: 40px; height: 40px" src="https://tacr.cz/templates/shape5_vertex/images/tacr.png" alt="Logo Technologické agentury ČR">
</div>