<div class="justinian-navigation visible-xs">
    <ul>
        <li class="header">Právní prostředí</li>
        <li><a click module="lex" application="acts">Zákony</a></li>
        <li><a click module="court" application="decisions">Judikáty</a></li>
        <li><a click module="concept" application="concepts">Právní pojmy</a></li>
        <li class="divider"></li>
        <li class="header">Ostatní agendy</li>
        <li><a click module="coi" application="checkactions">Kontroly ČOI</a></li>
        <li class="divider"></li>
        <li><a click module="justinian" application="about">O projektu</a></li>
    </ul>
</div>