<div main-app>
    <div class="page-header">
        <h1>O projektu</h1>
    </div>
    <p><strong>Justinian</strong> je aplikace pro vyhledávání a prohlížení právních předpisů, soudních rozhodnutí
        a souvisejících dokumentů z právního prostředí ČR.</p>

    <p>Aplikace vznikla na půdě <a href="http://www.mff.cuni.cz">Matematicko-fyzikální fakulty Univerzity Karlovy</a>
        ve spolupráci s iniciativou <a href="http://www.opendata.cz">Opendata.cz</a>.</p>

    <p>Projekt je prací studentů, kteří jej realizovali v rámci předmětu NPRG023 - Softwarový projekt</p>

    <h3>NPRG0023 - Softwarový projekt</h3>
    <dl class="dl-horizontal justinian-people">
        <dt>
            Vedoucí projektu
        </dt>
        <dd>Mgr. Martin Nečaský, Ph.D.</dd>
        <dt>
            Řešitelé
        </dt>
        <dd>Karel Klíma</dd>
        <dd>Michal Auersperger</dd>
        <dd>Daniel Remiš</dd>
        <dd>Yan Zaytsev</dd>
        <dt>
            Kontakt
        </dt>
        <dd>
            <a href="mailto:justinian@justinian.cz">justinian@justinian.cz</a>
        </dd>
    </dl>

    <hr/>

    <div class="row">
        <div class="col-sm-4">
            <a href="http://www.motejl.cz">
                <img src="/assets/justinian/img/fond_om.gif"/>
            </a>
        </div>
        <div class="col-sm-8" style="padding-top: 20px;">
            Aplikace byla oceněna v <a href="http://www.otevrenadata.cz/soutez/rocnik-2014/">Soutěži Společně otevíráme data</a>, pořádané <a href="http://www.motejl.cz">Fondem Otakara Motejla</a>.
            Projekt získal cenu za nejlepší studentskou aplikaci nad otevřenými daty.
        </div>
    </div>


</div>
