<div ng-controller="LexActSectionDetailController" main-app anchor-scroll offset-top="150">
    <div app-bar adjust-on="actSectionDetail">
        <div class="clearfix">
            <div class="navbar-right">
                <span app-bar-toolbox></span>
            </div>
            <div class="navbar-brand">
                <a click module="lex" application="act-section-detail" resource="{{resource}}">
                    Předpis
                    <span ng-show="isEmpty()"> nenalezen</span>
                    <span ng-show="!isEmpty()"> č. {{actDetail["actId"]}}, {{actSectionDetail["title"]}}</span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 clearfix">
                <p class="pull-right text-muted" ng-show="!isEmpty()">Znění platné od {{actSectionVersion.validIso | formatDate}}</p>
                <p>{{actDetail["actTitle"]}}</p>
            </div>
        </div>
    </div>

    <div ng-hide="isTextLoading() || isEmpty()">
        <div class="lex-act-text" compile="actSectionText"></div>
    </div>

    <div ng-show="isTextLoading()" spinner-bar></div>
    <div ng-show="isEmpty()" class="alert alert-warning">
        Předpis nenalezen!<br>
        Zkuste ho najít pomocí vyhledávacího pole nahoře.
    </div>
    <div ng-show="isTextEmpty() && !isEmpty()" class="alert alert-warning">Text pro tento předpis není dostupný.</div>
</div>