<div ng-controller="LexActSectionDetailController" main-app anchor-scroll offset-top="150">
    <div app-bar adjust-on="actSectionDetail">
        <div class="clearfix">
            <div class="navbar-right">
                <span app-bar-toolbox></span>
            </div>
            <div class="navbar-brand">
                <a click module="lex" application="act-detail" resource="{{resource}}">
                    Předpis
                    <span ng-hide="!isEmpty()"č. {{actDetail["identifier"]}}
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 clearfix">
                <p class="pull-right text-muted">Znění platné od {{actVersion.validIso | formatDate}}</p>
                <p>{{actDetail["title"]}}</p>
            </div>
        </div>
    </div>

    <div ng-hide="isTextLoading() || isEmpty()">

        <div class="lex-act-text" compile="actText"></div>

    </div>
    <div ng-show="isTextLoading()" spinner-bar></div>

    <div ng-show="isTextEmpty()" class="alert alert-warning">Text pro tento předpis není dostupný.</div>
</div>