<div ng-controller="LexActsFiltersController" sidebar-app heading="Vyhledávání" set-open="true">
    <form role="form" ng-submit="search()">
        <div class="form-group">
            <label for="filterIdentifier">Předpis</label>
            <input class="form-control" id="filterIdentifier" ng-model="identifier" placeholder="př.: 1/1993 Sb."/>
        </div>
        <div class="form-group">
            <label for="filterTitle">Název</label>
            <input class="form-control" id="filterTitle" ng-model="title" placeholder="př.: Ústava České republiky"/>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="filterMinDate">Datum od</label>
                    <div class="input-group">
                        <input class="form-control" id="filterMinDate" ng-model="minDateRaw" datepicker-popup="dd. MM. yyyy" is-open="popupMinDateIsOpen"
                                starting-day="1" current-text="Dnes" clear-text="Vymazat" close-text="Zavřít" placeholder="{{ filterMinDate | formatDate }}"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openMinDatePopupCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="filterMaxDate">do</label>
                    <div class="input-group">
                        <input class="form-control" id="filterMaxDate" ng-model="maxDateRaw" datepicker-popup="dd. MM. yyyy" is-open="popupMaxDateIsOpen"
                               starting-day="1" current-text="Dnes" clear-text="Vymazat" close-text="Zavřít" placeholder="{{ filterMaxDate | formatDate }}"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="openMaxDatePopupCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="advancedOptionsIsOpen">
            <div class="form-group">
                <label for="filterQuery">Text</label>
                <input class="form-control" id="filterQuery" ng-model="query"/>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Vyhledat</button>
            <a class="btn btn-link" ng-click="advancedOptionsIsOpen = !advancedOptionsIsOpen">
                <span ng-show="advancedOptionsIsOpen">Méně parametrů</span>
                <span ng-hide="advancedOptionsIsOpen">Více parametrů</span>
            </a>
        </div>
    </form>
</div>