<div ng-controller="LexVersionsController" sidebar-app heading="Historie zákona">
    <table class="table table-condensed">
        <tr>
            <th><a ng-click="sortBy('number')">č.</a></th>
            <th><a ng-click="sortBy('-validIso')">Platné od</a></th>
            <th><a ng-click="sortBy('identifier')">Novela</a></th>
            <th>Porovnat</th>
        </tr>
        <tr ng-repeat="item in versions | orderBy: predicate : reverse"  ng-class="{success: item['@id'] == version, danger: item['@id'] == compare}">
            <td>{{item.number}}</td>
            <td>
                <a click module="lex" application="act-detail" resource="{{ resource }}" version='{{ item["@id"] }}' ng-show='item["haveText"]'>{{ item["validIso"] | formatDate }}</a>
                <span ng-show='!item["haveText"]'>{{ item["validIso"] | formatDate }}</span>
            </td>
            <td>
                {{item["identifier"]}}
            </td>
            <td class="text-center">
                <a ng-show='version !== item["@id"] && item["haveText"]' click module="lex" application="act-compare" resource="{{ resource }}" version='{{ version }}' compare='{{ item["@id"] }}'>
                    <span class="glyphicon glyphicon-transfer"></span>
                </a>
            </td>
        </tr>
    </table>
</div>