<div ng-controller="LexVersionsController" sidebar-app heading="Historie">
    <table class="table table-condensed table-responsive">
        <tr>
            <th><a ng-click="sortBy('number')">č.</a></th>
            <th><a ng-click="sortBy('-validIso')">Platnost od</a></th>
            <th><a ng-click="sortBy('identifier')">Novela</a></th>
            <th>Porovnat</th>
        </tr>
        <tr ng-repeat="item in versions | orderBy: predicate : reverse | limitTo:limit"  ng-class="{success: item['@id'] == version, danger: item['@id'] == compare}">
            <td>{{item.number}}</td>
            <td>
                <a click module="lex" application="act-detail" resource="{{ resource }}" version='{{ item["@id"] }}' ng-show='item["haveText"]'>{{ item["validIso"] | formatDate }}</a>
                <span ng-show='!item["haveText"]'>{{ item["validIso"] | formatDate }}</span>
            </td>
            <td>
                <a click module="lex" application="act-detail" resource="{{ item['amendmentID'] }}" ng-show="item['amendmentID']">
                    {{item["identifier"]}}
                </a>
                <span ng-show="!item['amendmentID']">{{item["identifier"]}}</span>
            </td>
            <td class="text-center">
                <span ng-show="version !== item['@id'] && item['haveText'] && compare !== item['@id']">
                    <a ng-show="getVersionValidIso(version) > item['validIso']" click module="lex" application="act-compare" resource="{{ resource }}" version="{{ version }}" compare="{{ item['@id'] }}">
                        <span class="glyphicon glyphicon-transfer"></span>
                    </a>
                    <a ng-show="getVersionValidIso(version) <= item['validIso']" click module="lex" application="act-compare" resource="{{ resource }}" version="{{ item['@id'] }}" compare="{{ version }}">
                        <span class="glyphicon glyphicon-transfer"></span>
                    </a>
                </span>
                <a ng-show="compare === item['@id']" click module="lex" application="act-detail" resource="{{resource}}" version="{{version}}">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
        <tr ng-if="versions.length > 10">
            <td colspan="4" class="text-right">
                <a class="btn btn-primary"  ng-click="toggleLimit()">
                    <span ng-show="limit == 10">Zobrazit vše</span>
                    <span ng-hide="limit == 10">Skrýt</span>
                </a>
            </td>
        </tr>
    </table>
</div>