<div ng-controller="DecisionRelatedDecisionsController" sidebar-app heading="Judikáty" set-open="true">

    <table class="table table-condensed" ng-hide="isLoading || isEmpty()">
        <tr>
            <th>Název</th>
            <th>Předmět</th>
        </tr>
        <tr ng-repeat="decision in filtered = ( decisions | filter : {hasText: 1}) | limitTo : limit">
            <td nowrap>
                <a click module="court" application="decision-detail" resource="{{ decision['@id'] }}">{{ decision['title'] }}</a><br/>
                <small class="text-muted">{{ decision['issuedIso'] | formatDate }}</small>
            </td>
            <td>
                {{ decision['subjectTitle'] | join | formatDash }}
            </td>
        </tr>
        <tr ng-show="filtered.length != decisions.length">
            <td colspan="2" class="text-right">
                <a class="btn btn-info" ng-model="collapsed" ng-click="collapsed=!collapsed">judik&#225;ty bez dal&#353;&#237;ch dostupn&#253;ch informac&#237;</a>
            </td>
        </tr>
        <tr ng-repeat="decision in decisions | filter : {hasText: 0}" ng-show="collapsed">
            <td colspan="2"><a click module="court" application="decision-detail" resource="{{ decision['@id'] }}">{{ decision['title'] }}</a></td>
        </tr>
        <tr ng-show="isShowMore()">
            <td colspan="2" class="text-right">
                <a class="btn btn-primary" click module="court" application="decision-related-decisions" resource="{{ resource }}">Zobrazit vše</a>
            </td>
        </tr>
    </table>

    <div datapager source="datasource" target="decisions" items-per-page="10" hide-controls="true"></div>

    <div ng-show="isLoading">Načítám data</div>
    <div ng-show="!isLoading && isEmpty()">Žádné dostupné kontroly.</div>

</div>
