<div ng-controller="DecisionRelatedActsController" sidebar-app heading="Zákoný">

    <table class="table" ng-hide="isLoading || isEmpty()">
        <tr>
            <th><a ng-click="sortBy('identifier')">Novela</a></th>
            <th><a ng-click="sortBy('title')">Název</a></th>
        </tr>
        <tr ng-repeat="act in acts | select : page : limit">
            <td>{{ act['identifier'] }}</td>
            <td><a click module="lex" application="act-detail" resource="{{ act['@id'] }}">{{ act['title'] }}</a></td>
        </tr>
        <tr ng-show="isShowPagination()">
            <td colspan="3" class="text-center">
                <div pagination ng-model="page" total-items="acts.length" items-per-page="limit" max-size="size" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></div>
            </td>
        </tr>

    </table>

    <div ng-show="isLoading">Načítám data...</div>
    <div ng-show="isEmpty()">Žádná dostupná rozhodnutí.</div>

</div>