<div ng-controller="ActRelatedCoiChecksController" sidebar-app heading="Kontroly ČOI" set-open="false">

    <table class="table table-condensed" ng-hide="isLoading || isEmpty()">
        <tr>
            <th>Název</th>
            <th>Kraj</th>
            <th>Subjekt</th>
        </tr>
        <tr ng-repeat="check in checks | limitTo : limit">
            <td nowrap>
                <a click module="coi" application="checkaction-detail" act="{{ check['@id'] }}">{{ check['title'] }}</a><br/>
                <small class="text-muted">{{ check['dateIso'] | formatDate }}</small>
            </td>
            <td nowrap>
                <abbr title="{{ check['location'] }}">{{ check['location'] | abbreviateRegion }}</abbr>
            </td>
            <td>
                {{ check['object'] | join }}
            </td>
        </tr>
        <tr ng-show="isShowMore()">
            <td colspan="3" class="text-right">
                <a class="btn btn-primary" click module="coi" application="act-related-coichecks" resource="{{ resource }}">Zobrazit vše</a>
            </td>
        </tr>
    </table>

    <div datapager source="datasource" target="checks" items-per-page="10" hide-controls="true"></div>

    <div ng-show="isLoading">Načítám data</div>
    <div ng-show="!isLoading && isEmpty()">Žádné dostupné kontroly.</div>

</div>