<div class="panel panel-default" ng-controller="ActRelatedCoiChecksController">
    <div class="panel-heading">
        <h4 class="panel-title">Kontroly ČOI</h4>
    </div>
    <div class="panel-body">
        <table class="table" ng-hide="isLoading() || isEmpty()">
            <tr>
                <th><a ng-click="sortBy('-date_iso')">Datum</a></th>
                <th><a ng-click="sortBy('location_short')">Kraj</a></th>
                <th><a ng-click="sortBy('title')">Kontrola</a></th>
                <th><a ng-click="sortBy('result_count')">Postih</a></th>
            </tr>
            <tr ng-repeat="check in checks | orderBy: predicate : reverse">
                <td nowrap>{{ check['date_iso'] | formatDate }}</td>
                <td><abbr title="{{ check['location'] }}">{{ check['location_short'] }}</abbr></td>
        		<td><a ng-href="{{ check['@id'] }}">{{ check['title'] }}</a></td>
        		<td>{{ check['result_count'] | formatZero }}</td>
            </tr>
        </table>
        <div ng-show="isLoading()">Načítám data...</div>
        <div ng-show="isEmpty()">Žádné dostupné kontroly.</div>
    </div>
</div>