.lex-act-text section {
    text-align: justify;
}

@media (min-width: 768px) {
    .lex-act-text section.uvod > p,
    .lex-act-text section.zaver > p {
        margin-left: 30px;
        color: #999;
    }
}

.lex-act-text section.preambule > p,
.lex-act-text section.cast > section,
.lex-act-text section.hlava > section,
.lex-act-text section.dil > section,
.lex-act-text section.oddil > section,
.lex-act-text section.pododdil > section {

}

.lex-act-text section.dil > header h1,
.lex-act-text section.oddil > header h1,
.lex-act-text section.pododdil > header h1 {
    display: inline-block;
}
.lex-act-text section.dil > header h1:first-child:after,
.lex-act-text section.oddil > header h1:first-child:after,
.lex-act-text section.pododdil > header h1:first-child:after {
    content: " - ";
    margin-right: 7px;
}

.lex-act-text section.odstavec > p {
    position: relative;
    margin-left: 24px;
}
.lex-act-text section.pismeno > p,
.lex-act-text section.bod > p {
    position: relative;
    margin-left: 48px;
}

@media (min-width: 768px) {
    .lex-act-text section.preambule > p,
    .lex-act-text section.clanek > p,
    .lex-act-text section.paragraf > p {
        margin-left: 24px;
    }
    .lex-act-text section.odstavec > p {
        margin-left: 48px;
    }
    .lex-act-text section.pismeno > p,
    .lex-act-text section.bod > p {
        margin-left: 72px;
    }
}

.lex-act-text section.odstavec > p > span.identifier,
.lex-act-text section.pismeno > p > span.identifier,
.lex-act-text section.bod > p > span.identifier {
    position: absolute;
    margin-left: -24px;
}


.lex-act-text section header h1:last-child {
    margin-top: 0;
}

.lex-act-text section.cast h1, .lex-act-text section.preambule h1 {
    font-size: 180%;
}
.lex-act-text section.hlava h1 {
    font-size: 160%;
}
.lex-act-text section.dil h1 {
    font-size: 150%;
}
.lex-act-text section.oddil h1, .lex-act-text section.pododdil h1 {
    font-size: 140%;
}
.lex-act-text section.clanek h1, .lex-act-text section.paragraf h1 {
    font-size: 130%;
}
.lex-act-text h2 {
    font-size: 140%;
}

.lex-act-text .diff_remove{
    color: red;
    background-color: #FFFFEF;
}

.lex-act-text .diff_add{
    color: #32CD32;
    background-color: #FFFFEF;
}

.lex-act-text p! > .diff_add{
     background-color: #FFFFEF;
}

.lex-act-text p! > .diff_remove{
    background-color: #FFFFEF;
}

.lex-act-text .diff_remove > *{
     background-color: #FFFFEF;
}

.lex-act-text .diff_add > *{
     background-color: #FFFFEF;
}

.lex-act-text section > span {
    display: block; /* diff tag mismatch fix */
    margin-left: 30px;
}